<!-- Sidebar -->
    <ul CLASS="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a CLASS="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div CLASS="sidebar-brand-icon rotate-n-15">

                <i class="fa fa-cube"></i>
            </div>
            <div CLASS="sidebar-brand-text mx-3">HUNGCAO</div>



        </a>

        <!-- Divider -->
        <hr CLASS="sidebar-divider">

        <!-- Heading -->
        <div CLASS="sidebar-heading" style="display: none;">
            Interface
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li CLASS="nav-item">
            <a CLASS="nav-link collapsed" href="../../MainAdmin/Index">
                <i CLASS="fas fa-home"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <li CLASS="nav-item">
            <a CLASS="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i CLASS="fas fa-swatchbook"></i>
                <span>Quản lý đào tạo</span>
            </a>
            <div id="collapseTwo" CLASS="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div CLASS="bg-white py-2 collapse-inner rounded">
                    <h6 CLASS="collapse-header">Chức năng</h6>
                    <a CLASS="collapse-item" href="../../khoas/Khoa">Thông tin khoa</a>
                    <!--<a CLASS="collapse-item" href="upload.php" target="iframe">Upload file</a>-->
                    <a CLASS="collapse-item" href="../../nganhs/Index">Thông tin ngành học</a>
                    <a CLASS="collapse-item" href="../../mons/Index">Thông tin môn học</a>
                    <a CLASS="collapse-item" href="../../lopmonhocs/Index">Thông tin lớp môn học</a>
                    <a CLASS="collapse-item" href="../../mons/Index">Thông tin lớp học phần</a>
                    <a CLASS="collapse-item" href="../../thoigianhocs/Index">Thông tin thời gian</a>

                </div>
            </div>

        </li>
        <li CLASS="nav-item">
            <a CLASS="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo">
                <i CLASS="fas fa-fw fa-cog"></i>
                <span>Quản lý nhân sự</span>
            </a>
            <div id="collapseTwo1" CLASS="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div CLASS="bg-white py-2 collapse-inner rounded">
                    <h6 CLASS="collapse-header">Chức năng</h6>
                    <!--<a CLASS="collapse-item" href="../../QLTaiKhoan/create_taikhoan">Tạo tài khoản</a>-->
                    <a CLASS="collapse-item" href="../../QLTaiKhoan/QLTaiKhoan">Thông tin tài khoản</a>
                    <a CLASS="collapse-item" href="../../giangviens/Index">Thông tin giảng viên</a>
                    <a CLASS="collapse-item" href="../../sinhviens/Index">Thông tin sinh viên</a>

                </div>
            </div>

        </li>


        <li CLASS="nav-item">
            <a CLASS="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo">
                <i CLASS="fas fa-clipboard-list"></i>
                <span>Quản lý điểm</span>
            </a>
            <div id="collapseTwo2" CLASS="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div CLASS="bg-white py-2 collapse-inner rounded">
                    <h6 CLASS="collapse-header">Chức năng</h6>
                    <!--<a CLASS="collapse-item" href="../../QLTaiKhoan/create_taikhoan">Tạo tài khoản</a>-->
                    <a CLASS="collapse-item" href="../../Diems/Index">Thông tin điểm theo môn</a>
                    <a CLASS="collapse-item" href="../../qlgv/qlgv">Thông tin giảng viên</a>
                    <a CLASS="collapse-item" href="../../qlsv/qlsv">Thông tin sinh viên</a>

                </div>
            </div>

        </li>




        <hr class="sidebar-divider">

        <li CLASS="nav-item">
            <a CLASS="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user"></i>
                <span>Quản lý cá nhân</span>
            </a>
            <div id="collapseSix" CLASS="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div CLASS="bg-white py-2 collapse-inner rounded">
                    <h6 CLASS="collapse-header">Chức năng</h6>
                    <a CLASS="collapse-item" href=" ">Đổi mật khẩu</a>
                    <!--<a CLASS="collapse-item" href="manager_changepass.php" target="iframe">Thông tin cá nhân</a>-->


                </div>
            </div>

        </li>

        <hr class="sidebar-divider">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>



<!-- End of Sidebar -->