@model V1_BTL_CNPM.Models.khoa

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Thông tin chi tiết khoa</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Mã khoa:</b> @Html.DisplayFor(model => model.MaKhoa)
        </dd>

        <dd>
            <b>Tên khoa:</b> @Html.DisplayFor(model => model.TenKhoa)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaKhoa }) |
    @Html.ActionLink("Trở lại danh sách", "Khoa")
</p>
